<div class="col main-container">

  <div class="d-flex justify-content-center">
    <img class="rounded-circle shadow-4-strong" src="https://img.freepik.com/premium-vector/fire-flame-icon-isolated-white-background-hot-flame-energy-vector-illustration_554867-25.jpg" width="50%" alt="">
  </div>

  <div class="text-center">
    <h1>Meeting App</h1>

    <div class="d-grid gap-2">
      <button class="mt-2 py-2 btn btn-outlined btn-box-shadow selection-button" (click)="showDialog()">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
        </svg>
        <b class="mx-4">Crear sala</b>
      </button>
    </div>

    <div class="d-grid gap-2">
      <button class="mt-2 py-2 btn btn-outlined btn-box-shadow selection-button" (click)="showDialog2()">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
        </svg>
        <b class="mx-4">Ingresar sala</b>
      </button>
    </div>

  </div>



<!-- Crear sala -->
<p-dialog header="Crear sala" [(visible)]="visible" [style]="{width: '75vw'}">

  <div class="m-2">
    <label>Nombre</label>
    <input type="text" class="form-control" placeholder="Nombre de la sala...">
  </div>

  <div class="m-2">
    <label>Password</label>
    <input type="text" class="form-control" placeholder="Password...">
  </div>

  <div class="m-2">
    <label>Cantidad de jugadores</label>
    <input type="number" class="form-control" placeholder="Cantidad de jugadores...">
  </div>

  <div class="m-2 d-grid gap-2">
    <!-- <p-button>Crear</p-button> -->
    <button class="btn btn-primary" (click)="crearSala()">Crear</button>
  </div>

</p-dialog>

<!-- Ingresar sala -->
<p-dialog header="Ingresar sala" [(visible)]="visible2" [style]="{width: '75vw'}">

  <div class="m-2">
    <label>Código de sala</label>
    <input type="text" class="form-control" placeholder="Código de sala...">
  </div>

  <div class="m-2">
    <label>Password</label>
    <input type="text" class="form-control" placeholder="Password...">
  </div>

  <div class="m-2 d-grid gap-2">
    <!-- <p-button>Crear</p-button> -->
    <button class="btn btn-primary" (click)="ingresarASala()">Ingresar</button>
  </div>

</p-dialog>


</div>
