.main-container {
  background-color: #F4F4F4;
  padding-top: 2rem;
  padding-inline: 2rem;
  height: 100vh;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  font-style: italic;
  font-family: Roboto;
  color: #424242;
}

.navigation-bar {
  padding-inline: 2rem;
}

span {
  font-weight: bold;
  font-style: italic;
  font-family: Roboto;
  color: #424242;
}

.player-icon {
  padding: 20px;
  border-radius: 20px;
  background: #4788E9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
}

.icono {
  border-radius: 800px;
  /* background:  lightgray 50% / cover no-repeat; */
  /* background: lightgray 50% / cover no-repeat; */
  background-color: #fff;
}




/* .wrapper {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;
} */

.player-card {
  /* border: 2px solid #ffa94d; */
  border-radius: 30px;
  background-color: #4788E9;
  padding: 1em;
  /* color: #d9480f; */
  aspect-ratio: 1;
}

.player-info {
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  font-family: Roboto;
  color: #4788E9;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media ( min-width: 768px ) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.pointer {
  cursor: pointer;
}






/* Estilos cards dialogo - Hay que refactorizar y crear un componente independiente */
.card-item {
  margin: 1rem;
  border-radius: 15px;
  background-color: #4788E9;
  padding: 1rem;
}

.card-item h1 {
  color: #fff;
}

.card-item span {
  color: #fff;
}

.active span {
  color: #4788E9;
}

.active path {
  fill: #4788E9;
}
