<div class="col main-container">

  <h1>Resumen de juego</h1>

  <p-knob class="game-progress" [(ngModel)]="valors" [readonly]="true" valueColor="White" rangeColor="MediumTurquoise"></p-knob>
  <p-knob class="game-progress" [(ngModel)]="valors" [readonly]="true" valueColor="White" rangeColor="MediumTurquoise"></p-knob>
  <p-knob class="game-progress" [(ngModel)]="valors" [readonly]="true" valueColor="White" rangeColor="MediumTurquoise"></p-knob>
  <p-knob class="game-progress" [(ngModel)]="valors" [readonly]="true" valueColor="White" rangeColor="MediumTurquoise"></p-knob>
  <p-knob class="game-progress" [(ngModel)]="valors" [readonly]="true" valueColor="White" rangeColor="MediumTurquoise"></p-knob>

  <div class="pie animate" style="--p:100;--c:lightgreen"> 90%</div>
  <div class="pie animate" style="--p:85;--c:lightgreen"> 90%</div>

</div>
