<div class="col main-container">
  <img class="rounded-circle shadow-4-strong" src="https://img.freepik.com/premium-vector/fire-flame-icon-isolated-white-background-hot-flame-energy-vector-illustration_554867-25.jpg" width="20%" alt="">

  <h1>Sala de espera</h1>

  <b class="jugadores-en-espera">5 Jugadores en la sala</b>

  <div class="mt-2 list">
    <div class="d-grid gap-2 jugador d-flex justify-content-between">
      <button class=" btn btn-outlined btn-box-shadow selection-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-square-fill circle-icon" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
        </svg>
        <span>
          <b class="">Ingresar sala</b>
        </span>
      </button>
    </div>
  </div>


  <div class="d-grid gap-2">
    <button class="btn btn-outlined btn-box-shadow start-button" (click)="comenzarJuego()">Comenzar</button>
  </div>
</div>

