<div class="col main-container">

  <div class="d-flex justify-content-center">
    <img class="rounded-circle shadow-4-strong" src="https://img.freepik.com/premium-vector/fire-flame-icon-isolated-white-background-hot-flame-energy-vector-illustration_554867-25.jpg" width="50%" alt="">
  </div>

  <div class="text-center">
    <!-- <h1>Meeting App</h1> -->
    <h1>Register</h1>

    <form action="">

      <div class="m-2 d-flex flex-column align-items-start">
        <span>User</span>
        <input type="text" class="form-control" placeholder="Usuario...">
      </div>

      <div class="m-2 d-flex flex-column align-items-start">
        <span>Password</span>
        <input type="text" class="form-control" placeholder="Contraseña...">
      </div>

      <div class="m-2 d-grid gap-2">
        <button class="mt-2 py-2 btn btn-outlined btn-box-shadow selection-button">
          <b class="m-2">Registrarse</b>
        </button>
      </div>

    </form>



  </div>




</div>
